<h1>About Founder</h1>
<p style="font-family: candara; font-size: 20px;">

Although our agency was founded in 2017, our marketing roots go back to 2001. Our Founder, Hari Haran, learned marketing because he had no choice. At the age of 16, he created his first website called Lines of adroit and paid a few marketing firms to help him out, but they provided no results and took all of his money.

He was left with no choice but to learn marketing, and he eventually got good at it. Haran never planned on doing marketing for other companies until he met his co-founder Athipathi K. After working together for 2 years they decided to create a different kind of digital blog, one that was honest and only took on clients that they could actually help. And instead of focusing on growing their agency, their number one focus was to grow their clients and provide a enjoying feel in blog.
</p>