<form action="/mycontroller/first" method="get">
  <div class="data">
    <img src="images/pen.jpg" width="150" height="150" id="logo">
    <hr>

    <label ><b>Email</b></label>
    <input type="text" placeholder="mailid@org.com" name="mail" required>

    <label ><b>Name</b></label>
    <input type="text" placeholder="Enter Name" name="name" required>
    <hr>

    <label ><b>Your thoughts</b></label>
    <input type="text" placeholder="Title" name="title" width="50" height="20" required>
    <textarea placeholder="Scribble here" name="news" rows="30" cols="180">
    </textarea>
    <hr>
    <input type="submit" class="register" value="Post it">
  </div>
</form>