
<fieldset>
	<h1><%= @thisNews.title  %></h1>
<p><%= @thisNews.news %><p>

</fieldset>
<span style="text-align: center;">-<%= params['user'] %></span> <br>
<span>Contact: <%= @thisNews.mail %></span><hr>
<a href="http://localhost:3000/" style="font-family: arial">Back</a>
